<div class="cart">
    <div id="cart-item-{{ index }}-{{ item.id }}"
         class="cart-item"
         ng-repeat="(index, item) in cartStorage.dishes track by $index">
        <md-button ng-click="vm.deleteDish(index, item.id)"
                   aria-label="delete"
                   class="md-fab item-delete">
            <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
        <span class="item-number">{{ index + 1 }}.</span> <strong>{{ item.name }}</strong>
        <div class="cart-line">
            <span class="item-price">{{ item.price }} р. X</span>
            <span class="item-count">
                <md-button ng-click="vm.minusDish($index)" class="btn count-btn">-</md-button>
                <label for="input-{{ item.id }}" style="display:none"></label>
                <input data-ng-change="vm.changeDish($index)"
                       type="number"
                       min="0"
                       max="10"
                       id="input-{{ item.id }}"
                       class="count-input"
                       ng-model="item.count">
                <md-button ng-click="vm.plusDish($index)" class="btn count-btn">+</md-button>
            </span>
            <span class="item-amount"> = <strong>{{ item.price * item.count }} р.</strong></span>
        </div>
    </div>
    <div class="delivery">Стоимость заказа: <span>{{ cartStorage.totalAmount }}</span></div>
    <div class="delivery" data-ng-if="cartStorage.delivery">Стоимость доставки: <span>{{ cartStorage.delivery }} р.</span></div>
    <div class="total-amount" data-ng-if="cartStorage.totalAmount">Итого: <span>{{ cartStorage.totalAmount + cartStorage.delivery }} р.</span></div>
    <form class="cart-form">
        <label>Укажите номер телефона</label>
        <md-input-container class="input-phone md-block">
            <input data-ui-mask="+7-999-999-99-99"
                   aria-label="phone"
                   ng-model="cartStorage.phone"
                   data-ui-options="{clearOnBlur:false, addDefaultPlaceholder:true}"
                   type="text"/>
        </md-input-container>

        <md-button ng-click="vm.clearCart()"
                   aria-label="clear"
                   class="md-warn md-raised">Очистить</md-button>
        <md-button ng-click="vm.sendContact()"
                   aria-label="send"
                   ng-disabled="!cartStorage.phone"
                   class="md-primary md-raised">Отправить</md-button>
    </form>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39695840 = new Ya.Metrika({
                    id:39695840,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39695840" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google analitics account -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84395937-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- -->