<md-list>
    <md-list-item class="dishes-list"
                  ng-repeat="(index, dish) in vm.dishes"
                  ng-mouseleave="vm.hideToCart(index)"
                  ng-mouseover="vm.showToCart(index)">
        <img id="dish-{{ index }}" ng-src="/img/medium/{{ dish.id }}.jpg" class="category-img" alt="{{dish.name}}">
        <div class="category-text md-list-item-text">
            <h3><strong>{{ dish.name }}</strong></h3>
            <span class="weight">{{ dish.weight }}
                <span data-ng-if="vm.categoryId != '14'">г.</span>
                <span data-ng-if="vm.categoryId == '14'">мл.</span></span>
            <span class="price">{{ dish.price }} р.</span>
        </div>
        <div data-ng-click="vm.moveToCart(index, $event)"
             data-ng-class="(dish.display)?'to-cart-display':''" class="to-cart">
            <a class="to-cart-icon">
                <span>В корзину</span><i id="fa-cart-{{ dish.id }}" class="fa fa-3x fa-cart-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </md-list-item>
</md-list>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39695840 = new Ya.Metrika({
                    id:39695840,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39695840" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google analitics account -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84395937-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- -->